@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-custom-background {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)), url('/src/assets/colorfullbg.jpg');
    background-size: cover;
    background-position: center;
}

.custom-scrollbar::-webkit-scrollbar {
    width: 12px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    border-radius: 6px;
    background: #1e1e1e;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #272727;
    border-radius: 6px;
    border: 3px solid #1e1e1e;
}